<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.ticherhaz.karangancemerlangspm">

    <uses-sdk tools:overrideLibrary="com.zxy.skin.sdk" />

    <dist:module dist:instant="true" /> <!-- Using the internet connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">
        <activity android:name=".Profile2Activity"></activity>
        <activity android:name=".ProfileEditActivity">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingActivity" />
        </activity>
        <activity android:name=".ProfileActivity">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UmumDetailActivity" />
        </activity>
        <activity
            android:name=".PeribahasaActivity"
            android:label="@string/peribahasa">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/tetapan">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForumActivity" />
        </activity>
        <activity android:name=".UmumDetailActivity">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UmumActivity" />
        </activity>
        <activity
            android:name=".TopikBaruActivity"
            android:label="Mulakan Topik Baru">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UmumActivity" />
        </activity>
        <activity android:name=".UmumActivity">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForumActivity" />
        </activity>
        <activity
            android:name=".JenisKaranganActivity"
            android:label="@string/jenis_karangan">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".OnlineUserActivity"
            android:label="Jumlah Orang Dalam Talian">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForumActivity" />
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/emblem" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimarySoft" />

        <activity
            android:name=".ForumActivity"
            android:label="@string/forum">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ForumSplashActivity" />
        <activity
            android:name=".HantarKaranganActivity"
            android:label="@string/hantar_karangan">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SenaraiKaranganActivity"
            android:label="Senarai Karangan">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/feedback"
            android:windowSoftInputMode="stateHidden">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TipsKaranganActivity"
            android:label="@string/tips_karangan">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".KaranganDetailActivity"
            android:label="@string/karangan">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".Util.MyUploadService"
            android:exported="false"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>