<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.ticherhaz.karangancemerlangspm">

    <uses-sdk tools:overrideLibrary="com.zxy.skin.sdk" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <dist:module dist:instant="true" />

    <application
        android:name=".MyApplication"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,HardcodedDebugMode">
        <activity
            android:name=".TipsActivity"
            android:label="@string/sumbangan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutUsActivity" />
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/app_name_tentang"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_192dp"
            android:value="@drawable/icon_192dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" /> <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- [END fcm_default_channel] -->
        <activity
            android:name=".UmumDetailActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UmumActivity" />
        </activity>
        <activity
            android:name=".HubungiKamiUserActivity"
            android:label="@string/senarai_user">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingActivity" />
        </activity>
        <activity
            android:name=".HubungiKamiActivity"
            android:label="Hubungi Kami"
            android:windowSoftInputMode="stateHidden">

            <!-- When the FCM Triggered and user pressed the notification, it will check the action name, and triggered, and will proceed to this activity -->
            <intent-filter>
                <action android:name="HubungiKami" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingActivity" />
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/change_password"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingActivity" />
        </activity>
        <activity android:name=".Profile2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForumActivity" />
        </activity>
        <activity
            android:name=".ProfileEditActivity"
            android:label="@string/edit_profil"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingActivity" />
        </activity>
        <activity android:name=".ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UmumDetailActivity" />
        </activity>
        <activity
            android:name=".PeribahasaActivity"
            android:label="@string/peribahasa"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/tetapan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForumActivity" />
        </activity>
        <activity
            android:name=".TopikBaruActivity"
            android:label="Mulakan Topik Baru">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UmumActivity" />
        </activity>
        <activity
            android:name=".UmumActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForumActivity" />
        </activity>
        <activity
            android:name=".JenisKaranganActivity"
            android:label="@string/jenis_karangan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".OnlineUserActivity"
            android:label="Jumlah Orang Dalam Talian">

            <!-- This is for the back button navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForumActivity" />
        </activity>
        <activity
            android:name=".ForumActivity"
            android:label="@string/forum">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ForumSplashActivity">

            <!-- When the FCM Triggered and user pressed the notification, it will check the action name, and triggered, and will proceed to this activity -->
            <intent-filter>
                <action android:name="ForumSplash" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HantarKaranganActivity"
            android:label="@string/hantar_karangan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SenaraiKaranganActivity"
            android:label="Senarai Karangan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/feedback"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TipsKaranganActivity"
            android:label="@string/tips_karangan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".KaranganDetailActivity"
            android:label="@string/karangan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" /> <!-- [START firebase_service] -->
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <service
            android:name=".util.MyUploadService"
            android:exported="false"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>